a { color: #1a76b7; text-decoration: none; }
a:hover
{
	color: #ffcc33;
	text-decoration: none;
}

.contents {
  min-height:500px;
  height:auto !important;
  height:500px;
}
/*

.contents { border-top: 1px solid white; border-bottom: 1px solid white; position: relative; color: #666666; font-size: small; line-height: 125%; text-align: justify; }


.controlbutton { background-color: White; border: 1px solid #507CD1; font-family: Verdana; color: #284E98; }
.heading { font-weight: bold; color: #666666; }
body { font-family: Tahoma, Verdana, Arial, 'Times New Roman', Serif; font-size: small; background-color: #f2f2f2; }
.footer { border-top: 5px solid #d1e2fe; color: White; text-align: center; background-color: #92b0dd; padding: 5px 5px 5px 5px; }
.border { border: 1px solid white; }
.header { background-color: #92b0dd; border-bottom: 1px solid white; padding: 5px 5px 5px 5px; }
	background-color: #92b0dd;
*/
.menu { background-color: #d1e2fe; padding: 5px 5px 5px 5px; color: #1a76b7; }
.footer { border-top: 5px solid #d1e2fe; color: White; text-align: center; background-color: #92b0dd; padding: 5px 5px 5px 5px; }
.border { border: 1px solid white; }
.header
{
	border-bottom: 1px solid white;
	padding: 5px 5px 5px 5px;
	background-image: url(Images/BarraTitulo.bmp);
}

.container { width: 810px; margin-left: auto; margin-right: auto; border: 1px solid #1a76b7; background-color: White; }
.logincontrolheader { background-color: #507CD1; font-weight: bold; color: White; }
.controlcontainer { background-color: #EFF3FB; border: 1px solid #B5C7DE; font-size: 0.7em; font-family: Verdana; }
