<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="HostVB.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
 </configSections>
	<configProtectedData>
		<providers>
			<add useMachineProtection="true" name="DPAPIProtection" type="System.Configuration.DpapiProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</providers>
	</configProtectedData>
	<validation>
		<type assemblyName="DataAccess, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="DataAccess.Lecturas">
			<ruleset name="Enviados">
				<properties>
					<property name="monto">
						<validator lowerBound="1" lowerBoundType="Inclusive" upperBound="" upperBoundType="Ignore" negated="false" messageTemplate="Monto debe ser mayor a 0" messageTemplateResourceName="" messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Monto Cero"/>
					</property>
					<property name="cod_banco_receptor">
						<validator operator="NotEqual" propertyToCompare="cod_banco_emisor" negated="false" messageTemplate="El banco emisor no puede ser igual al receptor" messageTemplateResourceName="" messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.PropertyComparisonValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Property Comparison Validator"/>
					</property>
					<property name="cod_banco_emisor"/>
				</properties>
			</ruleset>
		</type>
	</validation>
	<connectionStrings>
  <add name="Entities" connectionString="metadata=res://*/ClearingModel.csdl|res://*/ClearingModel.ssdl|res://*/ClearingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=ClearingFamiliar;Integrated Security=True;MultipleActiveResultSets=True&quot;"
   providerName="System.Data.EntityClient" />
  <add name="HostVB.My.MySettings.ClearingConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=ClearingFamiliar;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="HostVB.My.MySettings.ClearingConnectionString1" connectionString="Data Source=.\sqlexpress;Initial Catalog=ClearingFamiliar;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="HostVB.My.MySettings.DBFConnectionString" connectionString="DRIVER=Microsoft Visual FoxPro Driver;sourcedb=C:\Users\lmosqueira.Futura\Documents\Visual Studio 2008\Projects\Clearing\HostVB\data;sourcetype=DBF;exclusive=No;backgroundfetch=Yes;collate=Machine;null=Yes;deleted=Yes"
   providerName="System.Data.Odbc" />
  <add name="HostVB.My.MySettings.FranquiciaConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=ClearingFamiliar;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Seguridad" connectionString="Data Source=.\sqlexpress;Initial Catalog=ASPNET;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="DataAccess.My.MySettings.FranquiciaConnectionString"
   connectionString="Data Source=.\sqlexpress;Initial Catalog=ClearingFamiliar;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="DataAccess.My.MySettings.ClearingConnectionString"
   connectionString="Data Source=.\sqlexpress;Initial Catalog=ClearingFamiliar;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="ClearingDA.My.MySettings.ClearingConnectionString"
   connectionString="Data Source=.\sqlexpress;Initial Catalog=ClearingFamiliar;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="HostVB.My.MySettings.ASPNETConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=ASPNET;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.diagnostics>
		<sources>
			<!-- En esta sección se define la configuración del registro para My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	<!--<system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="http://localhost:55555/AppServices/Authentication_JSON_AppService.axd" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="http://localhost:55555/AppServices/Role_JSON_AppService.axd" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>-->
	<system.web>
		<membership defaultProvider="SqlProvider">
			<providers>
				<clear/>
				<add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="Seguridad" applicationName="Clearing" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed"/>
			</providers>
		</membership>
		<profile defaultProvider="MyCustomProfileProvider">
			<providers>
				<add name="MyCustomProfileProvider" type="Futura.Profile.SqlTableProfileProvider,Futura.Profile" connectionStringName="Seguridad" table="sys_CustomProfile" applicationName="Clearing" profileVersion="1"/>
			</providers>
			<properties>
				<add name="FirstName" type="string" defaultValue="[null]" customProviderData="FirstName;nvarchar"/>
				<add name="LastName" type="string" defaultValue="[null]" customProviderData="LastName;nvarchar"/>
				<add name="ProfileVersion" type="int" defaultValue="[null]" customProviderData="ProfileVersion;int"/>
			</properties>
		</profile>
	</system.web>
	<userSettings>
		<HostVB.My.MySettings>
   <setting name="Proceso" serializeAs="String">
    <value>Enviado</value>
   </setting>
   <setting name="Camara" serializeAs="String">
    <value>01</value>
   </setting>
   <setting name="Carpeta" serializeAs="String">
    <value>c:\sistemas\clearing\</value>
   </setting>
   <setting name="Moneda" serializeAs="String">
    <value>PYG</value>
   </setting>
   <setting name="CalidadImpresion" serializeAs="String">
    <value>F</value>
   </setting>
   <setting name="CarpetaImagen" serializeAs="String">
    <value>Images</value>
   </setting>
   <setting name="ValidarCuenta1" serializeAs="String">
    <value>Si</value>
   </setting>
   <setting name="Otro" serializeAs="String">
    <value />
   </setting>
   <setting name="Scanner" serializeAs="String">
    <value>CanonCR180II</value>
   </setting>
   <setting name="Maquina" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="IdEmpresa" serializeAs="String">
    <value>41</value>
   </setting>
   <setting name="CarpetaFTP" serializeAs="String">
    <value>FTP</value>
   </setting>
   <setting name="LecturaAsincrona" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="SucursalMaxLenght" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="Debug" serializeAs="String">
        <value>false</value>
   </setting>
  </HostVB.My.MySettings>
	</userSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
